
/** Current Weather Container **/
div.block-container.st-emotion-cache-1jicfl2.ea3mdgi5 > div > div > div > div.st-emotion-cache-0.e1f1d6gn0 {
    background-color: #5a7ec5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    margin-left: 35%;
    margin-right: 35%;
}


h2 {
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 0px;
}